nav {
	width: 100%;
	background-color: #363946;
	height: 30px;
	position: fixed;
	top: 0px;
}

body {
	padding-top: 50px;
	margin: 0px;
	z-index: 1;

	background: url('https://images3.alphacoders.com/589/thumb-1920-58905.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
}

h1, h2, h3, h4 {
	font-family: 'Delius Unicase', sans-serif;
	color: white;
}

.subheader {
	text-decoration: underline;
}

.dropdown {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 10px;
}

.dropdown-title {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.dropdown-title:hover {
	background-color: black;
}

.dropdown-content {
	background-color: #363946;
}

.dropdown-content ul {
	margin-top: 0px;
	z-index: 2;
	padding: 0;
	list-style: none;
	display: none;
}

.dropdown-content ul>li {
	padding: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.dropdown-content ul>li:hover {
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
}

.dropdown:hover ul {
	display: block;
}

section, article {
	width: 80%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 10px;
	padding: 50px;
}

article {
	margin-bottom: 30px;
	border: white 2px dashed;
	text-align: center;
}

img {
	max-width: 30%;
	height: auto;
	box-shadow: 0 0 50px white;
}

img:hover{
	transform: scale(1.5,1.5);
	transition-duration: 2s;
}
